
.main {
    height: 100%;
    background-image: $backGroundGradient, url(../img/main_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
       
            &__links {
                display: flex;
                width: 100%;
                height: 85px;
                justify-content: space-between;
                align-items: center;
                
            }
    
            // .main__link
    
            &__link {
                width: calc(100%/4 - 30px);
                align-self: center;
                color: $iconBackground;
                
    
                &-divider {
                    position: relative;;
                    width: 100%;
                    height: 4px;
                    background-color: $iconBackground;
                    transition: all 1s;
                    &::before {
                        content:'';
                        display: block;
                        clear: both;
                        width: 0;
                        height: 0;
                        background-image: linear-gradient(90deg, rgba(243, 130, 129, 1) 26%, rgba(255, 255, 255, 1) 26%);
                        transition: all 0.5s;
                        }
                }
    
                // .main__link-descr
    
                &-descr {
                    display: block;
                    text-transform: uppercase;
                    padding: 15px 0;
                    font-weight: 500;
                    span {
                        font-weight: 700;
                        font-size: 2em;
                    }
                transition: all 1s;
                }

                &:hover {
                    .main__link-divider {
                            &::before {
                                content: '';
                                display: block;
                                clear: both;
                                width: 100%;
                                height: 4px;
                                background-image: linear-gradient(90deg, rgba(243, 130, 129, 1) 26%, rgba(255, 255, 255, 1) 26%);
                                transform: scale(1);
                                opacity: 1;
                                z-index: 4;
                            }
                        }
                    .main__link-descr {
                        color: #ffffff;
                    }
                }
            }
}

@import 'headerNav';


@import 'header';